.label.label-outline= build.sha[0..6]
= link_to build.project.path, project_path(build.project) if @project.nil?
= truncate build.message
.right
  = build_status build
%hr
%code.build-item-result.width-100
  %nobr= raw build.result.to_s.gsub(/\n/, '<br/>')
- if build.fail? || build.success?
  .right= link_to 'restart', restart_build_path(build), method: :post, class: 'btn btn-smaller'
%br
%br
%br