!!!
%html
  %head
    %title HipsterCi
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .page-wrapper
      .units-row
        .unit-centered.page
          .page-content
            - if flash[:errors].is_a?(Array)
              - flash[:errors].each do |message|
                .tools-alert.tools-alert-red= message
            = yield
          .page-nav
            .nav.nav-stacked
              %ul
                %li
                  = link_to_unless params[:controller] == 'projects' && params[:action] == 'index', 'Projects', projects_path do
                    %span Projects
                %li
                  = link_to_unless params[:controller]=='builds', 'Builds', builds_path do
                    %span Builds
